#Intialize super admin credentials
  
ALLOWED_ORIGINS = ["http://localhost:3000"]

#Intialize super admin credentials


ALLOWED_ORIGINS = ["http://localhost:3000"]
OPENAI_API_KEY=
 
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=postgres
DB_PASSWORD=root
ENV =dev/prod
